/*mobile portrait*/
@media screen
and ( max-width: 1050px )
and ( orientation: portrait ) {
  .todo-title {
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  .user-input {
    font-size: 2rem;
    height: 5rem;
  }

  .add-btn {
    height: 5rem;
    top: -0.16rem;
    width: 5rem;
  }

  li {
    font-size: 2rem;
    height: 5rem;
    left: 3.5rem;
  }

  .fa-check,
  .fa-minus-circle {
    font-size: 2rem;
    position: relative;
    top: 0.6rem;
  }

  .copyright {
    font-size: 1.5rem;
    z-index: -1;
  }
}

@media screen
and ( min-width: 539px )
and ( max-width: 769px )
and ( orientation: portrait ) {
  .todo-title {
    font-size: 5.1rem;
    margin-top: 2.5rem;
  }
}

@media screen
and ( max-width: 540px )
and ( orientation: portrait ) {
  html,
  body {
    width: 790px;
  }
}

@media screen
and ( min-width: 321px )
and ( max-width: 360px )
and ( orientation: portrait ) {
  .copyright {
    padding-bottom: 0.5rem;
  }
}

@media screen
and ( max-width: 280px )
and ( orientation: portrait ) {
  .copyright {
    padding-bottom: 2rem;
  }
}

/*mobile landscape*/
@media screen
and ( max-width: 1000px )
and ( orientation: landscape ) {
  .container {
     margin: 2rem auto;
  }

  .copyright {
    z-index: -1;
  }
}

@media screen
and ( max-width: 737px )
and ( orientation: landscape ) {
  .todo-title {
    width: 110%;
  }
}

@media screen
and ( max-width: 668px )
and ( orientation: landscape ) {
  .todo-title {
    width: 120%;
  }
}

@media screen
and ( max-width: 654px )
and ( orientation: landscape ) {
  .container {
    margin: 0;
  }

  .todo-title {
    width: 125%;
  }
}

@media screen
and ( max-width: 568px )
and ( orientation: landscape ) {
  .todo-title {
    width: 140%;
  }
}